<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <h1>ENGI1006 Assignments</h1>
    <body>
     <table style="width:50%">
    <table border="1">
      <tr>
        <th>Assignment Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>HW1A</td>
        <td>Introduction to calculations using binary numbers and psuedocode algorithms.</td>
      </tr>
      <tr>
        <td>HW1B</td>
        <td>List manipulations in python.</td>
      </tr>
      <tr>
        <td>HW2A</td>
        <td>Big O notation, time complexity, and iterations for different list sorting algorithms.</td>
      </tr>
      <tr>
        <td>HW2B</td>
        <td>Simulation of gravitational force on thrown object.</td>
      </tr>
      <tr>
        <td>HW3A</td>
        <td>Psuedocode for recursive statements.</td>
      </tr>
      <tr>
        <td>HW3B</td>
        <td>Implementation of recursive statements and calling of fuctions to percolate water
        through a matrix. Introduces numpy arrays.</td>
      </tr>
      <tr>
        <td>HW4</td>
        <td>Create a mock course with grades, teachers, and students using ojbect
        oriented programming.</td>
      </tr>
      <tr>
        <td>HW5</td>
        <td>Uses cancer data and manipulates tables, heatmaps, and introductory machine learning algorithms. </td>
      </tr>
      <tr>
        <td>Midterm</td>
        <td>Generates three image editor functions for modifying Gimp images including
        filtering correuptions out, converting to grayscale, and flipping horizontally.</td>
      </tr>
      <tr>
        <td>Final</td>
        <td>Create a basic Flask server and submit a Git repo.</td>
      </tr>
    </table>
    <br>
    <p>My favorite assignment was HW5, because it allowed me to tie up loose ends 
    in the course. It was interesting to gain exposure to some machine learning mechanisms
    that we hear about all the time, and I personally find the data manipulations through pandas
    and the plots through seaborn to be extremely useful and applicable to a wide range of fields. 
    </p>
    <br>
    Click <a href="/">here</a> to return to the home page.
    </body>
</html>
