<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Courses</title>
    <head>
    <h1> Katie's Spring 2020 Courses </h1>
    <body>
    <table style="width:50%">
    <table border="1">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
      </tr>
      <tr>
        <td>ECON4260</td>
        <td>Market Design</td>
      </tr>
      <tr>
        <td>ENGI1006</td>
        <td>Intro to Computing for Engineers and Applied Scientists</td>
      </tr>
      <tr>
        <td>ECON4913</td>
        <td>Distributional Macroeconomics</td>
      </tr>
      <tr>
        <td>ECON3025</td>
        <td>Financial Economics</td>
      </tr>
      <tr>
        <td>BIOL2501</td>
        <td>Contemporary Biology Lab</td>
      </tr>
    </table>
    <br>
    <p>My favorite assignment was HW5, which allowed me to tie together a lot
    of loose ends at the culmination of the course. 
    </p>
    </body>
</html>