<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <h1> Katie's Home Page </h1>
    <body>
    <p>Hello! My name is Katie Tsui, and I am a senior in Columbia College 
    double majoring in neuroscience and economics.</p>
    <img src= "{{url_for('static', filename='Katie_Tsui.png')}}"/>
    <br>
    Click <a href="https://www.nytimes.com/">here</a> to visit my favorite website.
    <br>
    Click <a href="/assignment">here</a> to access the assignments from ENGI1006.
    <br>
    Click <a href="/course">here</a> to access my course schedule this semester.
    </body>
</html>